{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}{{ title }} - {{ super() }}{% endblock %}

{% block content %}
<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ legend }}</h1>
</div>

<div class="row">
    <div class="col-md-8 col-lg-6">
        {# Determine action URL based on whether it's a create or edit form #}
        {% set action_url = url_for('admin.create_parking_lot') %}
        {% if form.name.data and lot %} {# 'lot' object passed only during edit #}
            {% set action_url = url_for('admin.edit_parking_lot', lot_id=lot.id) %}
        {% endif %}
        
        {{ render_form(form, action=action_url, method='post', novalidate=True) }}
        
        <div class="mt-3">
            <a href="{{ url_for('admin.list_parking_lots') }}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}